{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Pink Floyd</h1>
        <p>
            El lado oscuro de la luna– es un álbum conceptual, el octavo de estudio de la banda británica de rock progresivo Pink Floyd. Fue lanzado el 1 de marzo de 1973 en los Estados Unidos y el 24 de marzo del mismo año en el Reino Unido.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/pink-floyd.jpg" class="img-thumbnail">
    </div>

</div>

{{> foot }}